<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
 <form> Team Name: <input type="text"></form>
 <form> Coach: <input type="text"></form>
 <form> Point Guard: <input type="text"></form>
 <form> Shooting Guard: <input type="text"></form>
 <form> Small Forward: <input type="text"></form>
 <form> Power Forward: <input type="text"></form>
 <form> Center: <input type="text"></form>
    <input type="submit">
    <form method="POST" action="/team">
 </body>
</html>


